body, html {
    font-family: Open Sans,sans-serif;
    font-weight: 300;
    height: 100%;
    margin: 0;
}
header {
    background-image: url(../img/header-pic-small.jpg);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fefefe;
    height: 50%;
    position: relative;
}
.header-title {
    font-weight: 300;
    margin: 0;
} 
.header-text {
    left: 50%;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
}  
@media (min-width:768px) {
  .header-text {
    left: 10%;
    position: absolute;
    text-align: left;
    top: 40%;
    transform: translate(-10%,-40%);
    -webkit-transform: translate(-10%,-40%);
  }
  header {
    background-image: url(../img/header-pic.jpg);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fefefe;
    height: 50%;
    position: relative;
  }
}
main {
  margin: 1em auto;
  padding-top: 1em;
  width: 80%;
}
@media (min-width:768px) {
  main {
    margin: 0 auto;
    padding-top: 2em;
    width: 65%;
  }
}
footer {
  background-color: #3e3d3b;
}
footer ul {
  margin: 0 auto;
  padding-left: 0;
  width: 80%;
  text-align: center;
}
footer li {
  list-style: none;
  padding: .5em 2em .5em .5em;
}
footer a {
  color: #9fcfeb;
  text-decoration: none;
}
footer a:focus, footer a:hover {
  text-decoration: underline;
}
@media (min-width:768px) {
  footer  ul {
    margin: 0 auto;
    width: 65%;
  }
  footer li {
    display: inline-block;
    padding: 1em 2em 1em 0;
  }
}