html {
    background-color: #137299;
}
body {
    background-color: #fff;
}
#main-container {
    display: flex;
    flex-wrap: wrap;
}
.l-box {
    padding: 2em;
}
.is-center {
    text-align: center;
}
#logo-container img {
    width: 75%;
    max-width: 640px;
}
.header .pure-menu {
    background-color: #137299;
}
.photo-box,
.text-box {
    overflow: hidden;
    position: relative;
}
.photo-box {
    background: #137299;
}
.text-box {
    background: #fff;
    color: #272822;
}
.message {
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    font-weight: 100;
}
.text-box-head {
    font-family: 'Open Sans', sans-serif;
    color: #272822;
    padding-bottom: 0.2em;
    font-weight: 800;
    letter-spacing: 0.05em;
    font-size: 1.75em;
    text-transform: uppercase;
    margin: 0;
}
.text-box-subhead {
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    letter-spacing: 0.1em;
    font-size: 1.25em;
}
.footer {
    background: #137299;
    color: #fff;
    text-align: center;
    padding: 2em;
    font-size: 1em;
}
.footer a {
    color: #fff;
}
.btn {
    font-family: 'Open Sans', sans-serif;
    color: #137299;
    background: #fff;
    font-size: 1em;
    padding: 1em 2em 1em 2em;
    margin: .5em;
    text-decoration: none;
    border: #137299 4px solid;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    text-transform: uppercase;
    font-weight: 600;
}
.avail:hover,
.avail:focus,
.avail:active {
    background-color: #137299;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
}
.unavail:hover,
.unvail:focus,
.unavail:active {
    background-color: #959291;
    color: #fff;
    font-weight: 600;
    border: #959291 4px solid;
    cursor: default;
}
.unavail:hover span {
    display: none;
}
.unavail:hover:before {
    content: "Application Available August 2015";
    font-size: .9em;
}
.hvr-grow-shadow {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
}
.hvr-grow-shadow:hover,
.hvr-grow-shadow:focus,
.hvr-grow-shadow:active {
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.crossfade > img { 
    max-width: 100%;
    min-height: 250px;
    top: 0px;
    left: 0px;
    color: transparent;
    opacity: 0;
    z-index: 0;
    -webkit-backface-visibility: hidden;
    -webkit-animation: imageAnimation 18s linear infinite 0s;
    -moz-animation: imageAnimation 18s linear infinite 0s;
    -o-animation: imageAnimation 18s linear infinite 0s;
    -ms-animation: imageAnimation 18s linear infinite 0s;
    animation: imageAnimation 18s linear infinite 0s; 
}
.crossfade > img:nth-child(2)  {
    position: absolute;
    -webkit-animation-delay: 6s;
    -moz-animation-delay: 6s;
    -o-animation-delay: 6s;
    -ms-animation-delay: 6s;
    animation-delay: 6s; 
}
.crossfade > img:nth-child(3) {
    position: absolute;
    -webkit-animation-delay: 12s;
    -moz-animation-delay: 12s;
    -o-animation-delay: 12s;
    -ms-animation-delay: 12s;
    animation-delay: 12s; 
}
@-webkit-keyframes imageAnimation { 
    0% { opacity: 0;
    -webkit-animation-timing-function: ease-in; }
    8% { opacity: 1;
         -webkit-animation-timing-function: ease-out; }
    37% { opacity: 1 }
    45% { opacity: 0 }
    100% { opacity: 0 }
}
@-moz-keyframes imageAnimation { 
    0% { opacity: 0;
    -moz-animation-timing-function: ease-in; }
    8% { opacity: 1;
         -moz-animation-timing-function: ease-out; }
    37% { opacity: 1 }
    45% { opacity: 0 }
    100% { opacity: 0 }
}
@-o-keyframes imageAnimation { 
    0% { opacity: 0;
    -o-animation-timing-function: ease-in; }
    8% { opacity: 1;
         -o-animation-timing-function: ease-out; }
    37% { opacity: 1 }
    45% { opacity: 0 }
    100% { opacity: 0 }
}
@-ms-keyframes imageAnimation { 
    0% { opacity: 0;
    -ms-animation-timing-function: ease-in; }
    8% { opacity: 1;
         -ms-animation-timing-function: ease-out; }
    37% { opacity: 1 }
    45% { opacity: 0 }
    100% { opacity: 0 }
}
@keyframes imageAnimation { 
    0% { opacity: 0;
    animation-timing-function: ease-in; }
    8% { opacity: 1;
         animation-timing-function: ease-out; }
    37% { opacity: 1 }
    45% { opacity: 0 }
    100% { opacity: 0 }
}
@media (min-width: 56em) {
    .photo-box,
    .text-box {
        text-align: left;
    }
}
@media (min-width: 68em) {
    .message {
        font-size: 1em;
        font-weight: 100;
        padding-right: 20%;
    }
    .text-box-head {
        font-size: 2.5em;
    }
    .text-box-subhead {
        font-size: 1.5em;
    }
    .btn {
        font-size: 1em;
    }
}
