html,
body {
  height: 100%;
  width: 100%;
}
body {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}
hr {
  border-color: #00aea9;
  border-width: 3px;
  max-width: 50px;
}
hr.light {
  border-color: #fdfdfd;
}
a {
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
  color: #ff9d16;
}
a:hover,
a:focus {
  color: #eb3812;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}
p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}
.bg-primary {
  background-color: #00aea9;
}
.bg-dark {
  background-color: #222222;
  color: #fdfdfd;
}
.orange-text {
  color: #ff9d16;
}
.semi-bold {
  font-weight: 600;
}
.text-faded {
  color: rgba(255, 255, 255, 0.7);
}
section {
  padding: 100px 0;
}
aside {
  padding: 50px 0;
}
.no-padding {
  padding: 0;
}
.navbar-default {
  background-color: #fdfdfd;
  border-color: rgba(34, 34, 34, 0.05);
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}
.navbar-default .navbar-header .navbar-brand {
  color: #00aea9;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}
.navbar-default .navbar-header .navbar-brand:hover,
.navbar-default .navbar-header .navbar-brand:focus {
  color: #eb3812;
}
.navbar-default .navbar-header .navbar-toggle {
  font-weight: 700;
  font-size: 12px;
  color: #222222;
  text-transform: uppercase;
}
.navbar-default .nav > li > a,
.navbar-default .nav > li > a:focus {
  font-size: 13px;
  color: #222222;
}
.navbar-default .nav > li > a:hover,
.navbar-default .nav > li > a:focus:hover {
  color: #00aea9;
}
.navbar-default .nav > li.active > a,
.navbar-default .nav > li.active > a:focus {
  color: #00aea9 !important;
  background-color: transparent;
}
.navbar-default .nav > li.active > a:hover,
.navbar-default .nav > li.active > a:focus:hover {
  background-color: transparent;
}
@media (min-width: 768px) {
  .navbar-default {
    background-color: transparent;
    border-color: rgba(255, 255, 255, 0.3);
  }
  .navbar-default .navbar-header .navbar-brand {
    color: rgba(255, 255, 255, 0.7);
  }
  .navbar-default .navbar-header .navbar-brand:hover,
  .navbar-default .navbar-header .navbar-brand:focus {
    color: #fdfdfd;
  }
  .navbar-default .nav > li > a,
  .navbar-default .nav > li > a:focus {
    color: rgba(255, 255, 255, 0.7);
  }
  .navbar-default .nav > li > a:hover,
  .navbar-default .nav > li > a:focus:hover {
    color: #fdfdfd;
  }
  .navbar-default.affix {
    background-color: #fdfdfd;
    border-color: rgba(34, 34, 34, 0.05);
  }
  .navbar-default.affix .navbar-header .navbar-brand {
    color: #00aea9;
    font-size: 14px;
  }
  .navbar-default.affix .navbar-header .navbar-brand:hover,
  .navbar-default.affix .navbar-header .navbar-brand:focus {
    color: #eb3812;
  }
  .navbar-default.affix .nav > li > a,
  .navbar-default.affix .nav > li > a:focus {
    color: #222222;
  }
  .navbar-default.affix .nav > li > a:hover,
  .navbar-default.affix .nav > li > a:focus:hover {
    color: #00aea9;
  }
}
header {
  position: relative;
  width: 100%;
  min-height: auto;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center;
  background-image: url('../images/nacac-header-bg.jpg');
  text-align: center;
  color: #fdfdfd;
}
.workshops {
    -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center;
  background-image: url('../images/nacac-section-bg.jpg');
  color: #fdfdfd;
}

header .header-content {
  position: relative;
  text-align: center;
  padding: 100px 15px 100px;
  width: 100%;
}
.workshops .workshops-content {
  position: relative;
  text-align: left;
  padding-right: 15px;
  padding-left: 15px;
  width: 100%;
}
.workshops .workshops-content h1 {
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 25px;
  font-size: 30px;
}
.workshops .workshops-content p {
  font-weight: 400;
  color: rgba(252, 252, 252, 0.8);
  font-size: 16px;
}
header .header-content .header-content-inner h1 {
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 30px;
}
header .header-content .header-content-inner h2 {
  font-weight: 600;
  margin-top: 5px;
  margin-bottom: 25px;
}
header .header-content .header-content-inner hr {
  margin: 30px auto;
}
header .header-content .header-content-inner p {
  font-weight: 400;
  color: rgba(252, 252, 252, 0.8);
  font-size: 16px;
  margin-bottom: 50px;
}
@media (min-width: 768px) {
  header .header-content {
  text-align: left;
}
  .workshops .workshops-content  {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }
  .workshops .workshops-content h1 {
    font-size: 50px;
    margin-left: auto;
    margin-right: auto;
  }

  header .header-content .header-content-inner {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }
  header .header-content .header-content-inner h1 {
    font-size: 50px;
    margin-left: auto;
    margin-right: auto;
  }
  header .header-content .header-content-inner p {
    font-size: 18px;
    max-width: 80%;
/*
    margin-left: auto;
    margin-right: auto;
*/
  }
}
.section-heading {
  margin-top: 0;
}
.service-box {
  max-width: 400px;
  margin: 50px auto 0;
}
@media (min-width: 992px) {
  .service-box {
    margin: 20px auto 0;
  }
}
.service-box p {
  margin-bottom: 0;
}
.portfolio-box {
  position: relative;
  display: block;
  max-width: 650px;
  margin: 0 auto;
}
.portfolio-box .portfolio-box-caption {
  color: #fdfdfd;
  opacity: 0;
  display: block;
  background: rgba(240, 95, 64, 0.9);
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category,
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  padding: 0 15px;
}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
  font-size: 18px;
}
.portfolio-box:hover .portfolio-box-caption {
  opacity: 1;
}
.portfolio-box:focus {
  outline: none;
}
@media (min-width: 768px) {
  .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
    font-size: 16px;
  }
  .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
    font-size: 22px;
  }
}
.call-to-action h2 {
  margin: 0 auto 20px;
}
.text-primary {
  color: #00aea9;
}
.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}
.btn-default {
  color: #222222;
  background-color: #fdfdfd;
  border-color: #fdfdfd;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}
.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  color: #222222;
  background-color: #f2f2f2;
  border-color: #ededed;
}
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  background-image: none;
}
.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
  background-color: #fdfdfd;
  border-color: #fdfdfd;
}
.btn-default .badge {
  color: #fdfdfd;
  background-color: #222222;
}
.btn-primary {
  color: #fdfdfd;
  background-color: #00aea9;
  border-color: #00aea9;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: #fdfdfd;
  background-color: #009490;
  border-color: #009490;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  background-image: none;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #00aea9;
  border-color: #00aea9;
}
.btn-primary .badge {
  color: #00aea9;
  background-color: #fdfdfd;
}
.btn {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  border: none;
  border-radius: 0px;
  font-weight: 700;
  text-transform: uppercase;
}
.btn-xl {
  padding: 15px 30px;
}
::-moz-selection {
  color: #fdfdfd;
  text-shadow: none;
  background: #222222;
}
::selection {
  color: #fdfdfd;
  text-shadow: none;
  background: #222222;
}
img::selection {
  color: #fdfdfd;
  background: transparent;
}
img::-moz-selection {
  color: #fdfdfd;
  background: transparent;
}
body {
  webkit-tap-highlight-color: #222222;
}


.st0 {
    clip-path: url(#SVGID_2_);
}
.st1 {
    clip-path: url(#SVGID_2_);
    fill: #FDFDFD;
}
.st2 {
    clip-path: url(#SVGID_4_);
    fill: #FDFDFD;
}
.st3 {
    clip-path: url(#SVGID_4_);
}
.st4 {} .st5 {
    fill: none;
    stroke-width: 2;
    stroke-miterlimit: 10;
}
.st6 {
    fill: none;
    stroke-width: 2;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}
.st7 {
    fill: none;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}
.st8 {
    fill: #FDFDFD;
    stroke-width: 2;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}
.st9 {
    clip-path: url(#SVGID_6_);
}
.st10 {
    clip-path: url(#SVGID_6_);
    fill: #FDFDFD;
}
.st11 {
    clip-path: url(#SVGID_8_);
    fill: #FDFDFD;
}
.st12 {
    clip-path: url(#SVGID_8_);
}
.st13 {} .st14 {
    fill: none;
    stroke-width: 2;
    stroke-miterlimit: 10;
}
.st15 {
    fill: none;
    stroke-width: 2;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}
.st16 {
    fill: none;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}
.st17 {
    fill: #FDFDFD;
    stroke-width: 2;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}
.st18 {
    clip-path: url(#SVGID_10_);
}
.st19 {
    clip-path: url(#SVGID_10_);
    fill: #FDFDFD;
}
.st20 {
    clip-path: url(#SVGID_12_);
    fill: #FDFDFD;
}
.st21 {
    clip-path: url(#SVGID_12_);
}
.st22 {} .st23 {
    fill: none;
    stroke-width: 2;
    stroke-miterlimit: 10;
}
.st24 {
    fill: none;
    stroke-width: 2;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}
.st25 {
    fill: none;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}
.st26 {
    fill: #FDFDFD;
    stroke-width: 2;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}
svg {
  max-width: 200px;
  transition: 0.5s all ease;
}
.hidden-text {
  opacity: 1;
}
.fill-black {
    fill: #090909;
  transition: 0.5s all ease;
}
.stroke-black {
    stroke: #090909;
  transition: 0.5s all ease;
}
svg:hover .fill-black {
  fill: #ff9d16;
}
svg:hover .stroke-black {
  stroke: #ff9d16;
}
@media (min-width: 768px) {
  svg {
    padding: 10px;
    
}
svg:hover {
    padding: 0px;
}
  .hidden-text {
  opacity: 0;
  transition: 0.5s all ease;
}
.svg:hover + .hidden-text {
  opacity: 1;
}
  .hidden-text {
  opacity: 0;
  transition: 0.5s all ease;
}
.svg:hover + .hidden-text {
  opacity: 1;
}
}


